@include placeholder(var(--grey-color), 1);

input,
textarea,
select
{
	width: 100%;
	text-align: left;
	appearance: none;
}

/* stylelint-disable */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-text-fill-color: var(--white-color);
	-webkit-box-shadow: 0 0 0px 1000px var(--black-color) inset;
	transition: background-color 5000s ease-in-out 0s;
}
/* stylelint-enable */

.gform_wrapper
{
	position: relative;

	.hidden_label label,
	.validation_error,
	.gform_validation_errors
	{
		@extend .vis-hidden;
	}

	.validation_message
	{
		@extend .type-h5;
	}

	.gform_footer
	{
		margin-top: 1rem;
	}

	input,
	textarea
	{
		@include transition(all, 400ms);
	}

	input[type=submit]
	{
		color: var(--grey-color);

		@media (pointer: fine)
		{
			&:hover
			{
				color: var(--white-color);
			}
		}
	}

	.gform_ajax_spinner
	{
		width: 1rem;
		height: 1rem;
		border: 1px solid var(--grey-color);
		border-left: 1px solid var(--white-color);
		animation: spinner 750ms cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite forwards;
		border-radius: 50%;
		position: absolute;
		left: 0;
	}

	@keyframes spinner
	{
		0%
		{
			transform: translateY(0.5rem) rotate(0deg);
		}

		100%
		{
			transform: translateY(0.5rem) rotate(360deg);
		}
	}
}

.content
{
	.gform_wrapper
	{
		margin-top: 2.5rem;

		@include tablet-portrait
		{
			margin-top: 2rem;
		}

		input,
		textarea,
		select
		{
			border-bottom: 1px solid var(--white-color);
			@include placeholder(var(--white-color), 1);
			@extend .type-h4;
		}

		input[type=submit]
		{
			border: 1px solid var(--white-color);
			padding: 0.25rem 0.75rem;
			color: var(--white-color);
			border-radius: 0.25rem;
			display: inline-block;
			width: auto;

			@media (pointer: fine)
			{
				&:hover
				{
					background-color: var(--white-color);
					color: var(--black-color);
				}
			}
		}

		.gform_body
		{
			.gform_fields,
			.gfield_checkbox
			{
				padding-left: 0;
			}

			.gfield
			{
				list-style: none;

				&:not(:last-child)
				{
					margin-bottom: 0.675rem;
				}

				> .gfield_label
				{
					display: none;
				}

				.gfield_checkbox li
				{
					display: flex;
					align-items: center;

					&:not(:last-child)
					{
						margin-bottom: 0.375rem;
					}

					input
					{
						width: 0.675rem;
						height: 0.675rem;
						border: 1px solid var(--white-color);
						border-radius: 0.125rem;
						margin-right: 0.5rem;

						&:checked
						{
							background-color: var(--white-color);
						}
					}
				}
			}
		}

		.gform_footer
		{
			margin-top: 1.75rem;

			@include tablet-portrait
			{
				margin-top: 1.5rem;
			}
		}
	}
}

#gform_2
{
	.gfield
	{
		.gfield_label
		{
			display: inline-block;
			@extend .type-h2;
			color: var(--grey-color);
			@include transition(all, 400ms);
			opacity: 0;
			max-width: 0;
			overflow: hidden;
			vertical-align: middle;
			white-space: nowrap;

			@include tablet-portrait
			{
				display: none;
			}

			+ div
			{
				display: inline-block;
				vertical-align: middle;
				width: 100%;
				max-width: 500px;
			}

			&.gfield_label--field-active
			{
				opacity: 1;
				margin-right: 0.5rem;
				max-width: 18rem;
			}
		}

		.gfield_required
		{
			display: none;
		}

		.gfield_checkbox li
		{
			display: flex;
			align-items: center;

			&:not(:last-child)
			{
				margin-bottom: 0.375rem;
			}

			label
			{
				color: var(--grey-color);
				@extend .type-h2;
			}

			input
			{
				width: 0.675rem;
				height: 0.675rem;
				border: 1px solid var(--grey-color);
				border-radius: 0.125rem;
				margin-right: 0.5rem;

				&:checked
				{
					background-color: var(--grey-color);
				}
			}
		}
	}
}

.ginput_complex .name_last
{
	margin-top: 0.675rem;
	display: block;
}
