*
{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
	background: none;
	outline: none;
	border-radius: 0;
}

:root
{
	--font-euclid-circular-b: 'Euclid Circular B', Helvetica, sans-serif;
	--white-color: #fff;
	--black-color: #000;
	--overlay-black-color: rgba(0, 0, 0, 0.325);
	--grey-color: rgba(255, 255, 255, 0.325);
	--light-grey-color: rgba(255, 255, 255, 0.125);
	--row-padding: 5vw;
	--col-padding: 1rem;
	--header-gap: 3.125rem;
	--body-height: 1vh;

	@include tablet-portrait
	{
		--row-padding: 1rem;
		--header-gap: 1rem;
	}
}

::selection
{
	background-color: var(--white-color);
	color: var(--black-color);
}

body
{
	background-color: var(--black-color);
	font-size: 100%;
	overflow-x: hidden;
	overflow-y: visible;
}

.row
{
	width: 100%;
	padding: 0 var(--row-padding);
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: var(--col-padding);

	@include tablet-portrait
	{
		grid-template-columns: repeat(4, 1fr);
	}
}

.col
{
	@for $i from 1 through 4
	{
		&.sm-col-#{$i}
		{
			grid-column-end: span #{$i};
		}
	}

	@include tablet-portrait-min
	{
		@for $i from 1 through 12
		{
			&.lg-col-#{$i}
			{
				grid-column-end: span #{$i};
			}
		}

		@for $i from 1 through 12
		{
			&.lg-col-offset-#{$i}
			{
				grid-column-start: #{$i + 1};
			}
		}
	}
}

/*
.overlay-open
{
	overflow: hidden;
}
*/

.body-wrapper
{
	@include transition(all, 450ms);

	&::after
	{
		content: '';
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 12;
		pointer-events: none;
	}

	.overlay-open &
	{
		opacity: 0.5;

		&::after
		{
			backdrop-filter: blur(6px);
		}
	}
}

img
{
	max-width: 100%;
	display: block;
}

.lazy-container
{
	position: relative;
	display: block;
	background-color: var(--light-grey-color);
	padding-bottom: 56.25%;
	overflow: hidden;

	img
	{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
	}

	video
	{
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		transform: translateX(-50%) translateY(-50%);
	}
}

.lazyimage
{
	@include transition(opacity, 400ms);
	opacity: 0;
}

.lazyloaded
{
	opacity: 1;
}

.sm-hide
{
	@include tablet-portrait
	{
		display: none !important;
	}
}

.lg-hide
{
	@include tablet-portrait-min
	{
		display: none !important;
	}
}

.owl-carousel
{
	@include transition(opacity, 400ms);
	opacity: 0;

	&.owl-loaded
	{
		opacity: 1;
	}
}

.vis-hidden
{
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
