@font-face
{
	font-family: 'Euclid Circular B';
	src:
		url('../fonts/EuclidCircularB-Regular-WebS.woff2') format('woff2'),
		url('../fonts/EuclidCircularB-Regular-WebS.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face
{
	font-family: 'Euclid Circular B';
	src:
		url('../fonts/EuclidCircularB-RegularItalic-WebS.woff2') format('woff2'),
		url('../fonts/EuclidCircularB-RegularItalic-WebS.woff') format('woff');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face
{
	font-family: 'Euclid Circular B';
	src:
		url('../fonts/EuclidCircularB-Light-WebS.woff2') format('woff2'),
		url('../fonts/EuclidCircularB-Light-WebS.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face
{
	font-family: 'Euclid Circular B';
	src:
		url('../fonts/EuclidCircularB-LightItalic-WebS.woff2') format('woff2'),
		url('../fonts/EuclidCircularB-LightItalic-WebS.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

input,
textarea,
select,
button,
label,
body
{
	color: var(--white-color);
	font-family: var(--font-euclid-circular-b);
	font-weight: 300;
	line-height: 1.4;
}

a
{
	text-decoration: none;
	color: var(--white-color);
}

.type-reg
{
	font-weight: 400;
}

.type-upper
{
	text-transform: uppercase;
}

.type-grey
{
	color: var(--grey-color);

	a
	{
		color: var(--grey-color);
	}
}

h1,
h2,
h3,
h4,
h5,
h6
{
	font-weight: 300;
}

$p-font-sizes: (
	null : (0.875rem),
);

$h1-font-sizes: (
	null : (1.325rem),
	tablet-portrait: (1.5rem),
);

$h2-font-sizes: (
	null : (1.125rem),
	tablet-portrait: (1.25rem),
);

$h3-font-sizes: (
	null : (1.125rem),
);

$h4-font-sizes: (
	null : (1rem),
);

$h5-font-sizes: (
	null : (0.75rem),
);

$h6-font-sizes: (
	null : (0.625rem, 1.5),
);

p,
.type-p,
h6,
.type-h6
{
	@include font-size($p-font-sizes);
}

h1,
.type-h1
{
	@include font-size($h1-font-sizes);
}

h2,
.type-h2
{
	@include font-size($h2-font-sizes);
}

h3,
.type-h3
{
	@include font-size($h3-font-sizes);
}

h4,
.type-h4
{
	@include font-size($h4-font-sizes);
}

h5,
.type-h5
{
	@include font-size($h5-font-sizes);
}

h6,
.type-h6
{
	@include font-size($h6-font-sizes);
}

.type-underline,
.content .type-underline
{
	@include transition(background-size, 400ms);
	background-image: linear-gradient(var(--white-color), var(--white-color));
	background-position: 100% 100%;
	background-repeat: no-repeat;
	background-size: 0 2px;
}

.type-underline--thin,
.content .type-underline--thin
{
	background-size: 0 1px;
}

.type-underline--reverse
{
	background-position: 0 100% !important;
}

@include b('content')
{
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	ul,
	ol,
	blockquote,
	figure,
	img,
	video,
	iframe,
	div
	{
		&:not(:last-child)
		{
			margin-bottom: 0.75rem;
		}
	}

	a
	{
		@extend .type-underline;

		@media (pointer: fine)
		{
			&:hover
			{
				background-size: 100% 2px;
			}
		}

		@include tablet-portrait
		{
			background-size: 100% 1px;
		}
	}

	&.content--thin-underline
	{
		a
		{
			@extend .type-underline--thin;

			@media (pointer: fine)
			{
				&:hover
				{
					background-size: 100% 1px;
				}
			}

			@include tablet-portrait
			{
				background-size: 100% 1px;
			}
		}
	}

	ul,
	ol
	{
		padding-left: 1.75rem;
		@extend .type-p;

		li
		{
			list-style: disc;

			&:not(:last-child)
			{
				margin-bottom: 0.5rem;
			}
		}
	}

	ol
	{
		li
		{
			list-style: decimal;
		}
	}

	blockquote
	{
		padding: 0.5rem 0 0.5rem 1.5rem;
		border-left: 3px solid var(--white-color);
		font-style: italic;
		max-width: 60%;

		@include tablet-portrait
		{
			max-width: 100%;
		}
	}

	img,
	video,
	iframe
	{
		max-width: 100%;
		display: block;
	}

	*:last-child
	{
		margin-bottom: 0;
	}
}

body#tinymce.wp-editor
{
	padding: 10px !important;
	@extend .content;
	cursor: inherit;

	*
	{
		cursor: inherit;
	}
}
