
*
{
	cursor: none;
}

.site-cursor
{
	width: 0.5rem;
	height: 0.5rem;
	position: fixed;
	z-index: 48;
	display: none;
	pointer-events: none;

	&::before
	{
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: var(--white-color);
		border: 1px solid var(--white-color);
		@include transition(all, 300ms);
		border-radius: 50%;
	}

	&.site-cursor--hovered:not(.site-cursor--text)
	{
		&::before
		{
			background-color: transparent;
			transform: scale(1.5);
		}
	}

	&.site-cursor--text
	{
		.site-cursor__text
		{
			transform: scale(1);
		}
	}

	&.site-cursor--icon
	{
		&::before
		{
			transform: scale(0);
		}

		&.site-cursor--icon-close
		{
			.site-cursor__icon-close
			{
				transform: scale(1);
			}
		}
	}
}

@media (pointer: fine)
{
	.site-cursor
	{
		display: block;
	}
}

.site-cursor__text
{
	position: absolute;
	top: -0.25rem;
	left: calc(100% + 0.25rem);
	transform: scale(0);
	@include transition(transform, 300ms);
}

.site-cursor__icon
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.site-cursor__icon-close
{
	@include transition(transform, 300ms);
	display: block;
	stroke: var(--white-color);
	stroke-width: 2px;
	width: 0.625rem;
	height: 0.625rem;
	transform: scale(0);
}
