.footer
{
	@include transition(all, 750ms);
	opacity: 0;
	transform: translateY(-3rem);
	position: relative;
	z-index: 8;
	background-color: var(--black-color);

	&.footer--active
	{
		opacity: 1;
		transform: translateY(0);
	}
}

.footer__row
{
	padding-top: 1rem;
	padding-bottom: 3rem;
	position: relative;

	&::before
	{
		content: '';
		position: absolute;
		top: 0;
		left: var(--row-padding);
		right: var(--row-padding);
		height: 1px;
		background-color: var(--white-color);
	}

	a
	{
		@include tablet-portrait
		{
			background-size: 0 !important;
		}
	}
}

.footer__row--top
{
	padding-top: 1.875rem;
	padding-bottom: 10rem;

	@include tablet-portrait
	{
		padding-top: 1.5rem;
		padding-bottom: 4rem;
	}
}

.footer__signup-form
{
	.gform_footer
	{
		margin-top: 0;
	}

	input,
	.gform_title,
	.gform_confirmation_message
	{
		@extend .type-h2;
	}
}

.footer__logo-link
{
	display: inline-block;
}

.footer__logo-link-svg
{
	display: block;
	fill: var(--white-color);
	width: 4.625rem;
	height: auto;
}

.footer__nav
{
	a
	{
		@extend .type-underline;
		@extend .type-underline--thin;
		text-decoration-color: transparent;

		@media (pointer: fine)
		{
			&:hover
			{
				background-size: 100% 1px;
			}
		}
	}
}

.footer__contact-details
{
	@include tablet-portrait
	{
		display: flex;
		justify-content: center;
	}
}

.footer__bbb
{
	a
	{
		@media (pointer: fine)
		{
			&:hover
			{
				color: var(--white-color);
			}
		}
	}
}
