body:not(.overlay-open) .headroom--unpinned
{
	pointer-events: none;

	.header__nav-btn,
	.header__logo-link
	{
		opacity: 0;
		transition-delay: 0ms;
	}

	.header__nav-btn
	{
		transition-delay: 250ms;
	}
}

.header
{
	padding: var(--header-gap) 0 0;
	position: fixed;
	z-index: 16;
	left: 0;
	right: 0;
	top: 0;
	@include transition(all, 400ms);

	.people-overlay-open &
	{
		filter: blur(6px);
		opacity: 0.5;
	}
}

.header__row-inner
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.header__logo-link
{
	display: inline-block;
	@include transition(opacity, 650ms);
	transition-delay: 250ms;
}

.header__logo-link-svg
{
	display: block;
	fill: var(--white-color);
	width: 4.625rem;
	height: auto;
}

.header__nav-btn
{
	width: 1.25rem;
	height: 1.25rem;
	position: relative;
	right: -0.2rem;
	@include transition(opacity, 650ms);
	z-index: 4;

	&::before
	{
		content: '';
		position: absolute;
		width: 0.75rem;
		height: 0.75rem;
		background-color: var(--white-color);
		border: 1px solid var(--white-color);
		border-radius: 50%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		@include transition(all, 400ms);

		.header-overlay-open &
		{
			background-color: transparent;
		}
	}

	@media (pointer: fine)
	{
		&:hover
		{
			&::before
			{
				transform: scale(1.4);
			}
		}
	}
}

.header__nav
{
	position: absolute;
	top: 0;
	left: calc(66.666% + var(--col-padding));
	@include transition(all, 750ms);
	opacity: 0;
	visibility: hidden;

	@include tablet-portrait-min
	{
		padding: 0 2rem 4rem 2rem;
		width: calc(33.33333% + var(--row-padding));
	}

	@include tablet-portrait
	{
		right: var(--row-padding);
		left: var(--row-padding);
		top: 6rem;
		bottom: var(--header-gap);
		position: fixed;
		display: flex;
		flex-flow: row wrap;
	}

	.header-overlay-open &
	{
		opacity: 1;
		visibility: visible;
		transition-delay: 200ms;
	}
}

.header__nav-listing
{
	@include tablet-portrait
	{
		width: 100%;
		align-self: flex-end;
		transform: none;
	}

	li:not(:last-child)
	{
		margin-bottom: 0.5rem;

		@include tablet-portrait
		{
			margin-bottom: 1.25rem;
		}
	}

	a
	{
		@extend .type-underline;

		@media (pointer: fine)
		{
			&:hover
			{
				background-size: 100% 2px;
			}
		}
	}

	.current-menu-item a
	{
		background-size: 100% 2px;
	}

	/*
	.current-menu-item a,
	&.header__nav-listing--hovering a
	{
		color: var(--grey-color);
	}

	&.header__nav-listing--hovering a:hover
	{
		color: var(--white-color);
	}
	*/
}

.header__nav-btm
{
	position: fixed;
	left: var(--row-padding);
	bottom: var(--header-gap);
	display: flex;
	justify-content: space-between;

	@include tablet-portrait
	{
		position: static;
		width: 100%;
		align-self: flex-end;

		br
		{
			display: block;
		}
	}

	a
	{
		@include tablet-portrait
		{
			background-size: 0 !important;
		}
	}
}

.header__nav-btm-address
{
	@include transition(opacity, 750ms);
	opacity: 0;

	.header-overlay-open &
	{
		opacity: 1;
		transition-delay: 300ms;
	}
}

.header__nav-btm-socials
{
	@include transition(opacity, 750ms);
	opacity: 0;

	.header-overlay-open &
	{
		opacity: 1;
		transition-delay: 500ms;
	}
}

.header-nav-bg
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 14;
	display: none;

	@include tablet-portrait
	{
		display: none;
	}

	.header-overlay-open &
	{
		display: block;
	}
}
