.site-loader
{
	position: fixed;
	transform: translateY(-50%) translateX(-50%);
	width: 300vmax;
	height: 300vmax;
	background-color: var(--white-color);
	z-index: 77;
	border-radius: 50%;
	transform-origin: center center;
}
