/**
Style the background colour on the login page
*/
body.login
{
	background-color: transparentize(#bdbdba, 0.8);
	color: black;

	.message,
	.success,
	#login_error
	{
		border-left: 4px solid black;
	}
}


#wp-submit
{
	background-color: #000000;
	border: none;
	border-radius: 0;
	box-shadow: 0;
	color: #ffffff;
	text-decoration: none;
	text-shadow: none;
	-webkit-transition: all 600ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-moz-transition: all 600ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-o-transition: all 600ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	transition: all 600ms cubic-bezier(0.250, 0.460, 0.450, 0.940);

	&:hover
	{
		opacity: 0.6;
	}
}

/**
Style the logo on the login page
*/
#login h1 a,
.login h1 a
{
	background-image: url('../images/login/logo.svg');
	height: 60px;
	width: 180px;
	background-size: contain;
	background-repeat: no-repeat;
	padding-bottom: 10px;
}


input:focus
{
	border-color: #000000 !important;
	box-shadow: 0 0 0 1px #000000 !important;
}

a:hover
{
	color: black;
}
