.module-columns
{
	overflow: visible;
}

.module-columns__col
{
	position: relative;
}

.module-columns__col--left-border
{
	@include tablet-portrait-min
	{
		&::before
		{
			content: '';
			position: absolute;
			left: calc(var(--col-padding) * -1);
			top: 0;
			bottom: 0;
			width: 1px;
			background-color: var(--white-color);
		}
	}
}

.module-columns__slider-captions
{
	padding-left: 2.125rem;

	.owl-item
	{
		div
		{
			@include transition(opacity, 400ms);
			opacity: 0;
			animation: none;
		}

		&.active
		{
			div
			{
				opacity: 1;
				transition-delay: 0.5s;
			}
		}
	}
}

.module-columns__slider
{
	@include tablet-portrait
	{
		width: 100vw;
		left: calc(var(--row-padding) * -1);
	}
}

.owl-item
{
	opacity: 0;
}

.owl-item.active
{
	opacity: 1;
}

.module-columns__caption
{
	transform: rotate(-0.25turn) translateY(-0.5rem);
	position: absolute;
	left: 0;
	bottom: 0;
	transform-origin: bottom left;

	@include tablet-portrait
	{
		left: auto;
		right: calc(-25% - var(--col-padding) - (var(--row-padding) / 2));
		top: 0;
		bottom: auto;
		transform-origin: top right;
	}
}

.module-columns__caption--text
{
	@include tablet-portrait-min
	{
		padding-left: 0.25rem;
	}
}

.module-columns__slider-nav
{
	text-align: right;
	padding-top: 0.75rem;
}

.module-columns__slider-nav-btn
{
	&:last-child
	{
		margin-left: 0.5rem;
	}
}

.module-columns__slider-nav-btn-icon
{
	stroke: var(--white-color);
	stroke-width: 1px;
	display: block;
	width: 1.75rem;
	height: auto;

	@include tablet-portrait
	{
		width: 1.25rem;
	}
}

.module-columns__text-toggle
{
	display: inline-block;
	vertical-align: top;
	margin-top: -0.25rem;
}

.module-columns__text-toggle-icon
{
	display: inline-block;
	vertical-align: middle;
	stroke-width: 1px;
	stroke: var(--white-color);
	width: 0.4375rem;
	height: 0.4375rem;
	margin-right: 0.375rem;
	transform: rotate(0.125turn);
	@include transition(transform, 400ms);

	.module-columns__col--text-show-hide-open &
	{
		transform: rotate(0);
	}
}

.module-columns__col--text-show-hide
{
	.module-columns__text
	{
		height: 0;
		opacity: 0;
		overflow: hidden;

		> *:first-child
		{
			margin-top: 0.75rem;
		}
	}
}

.module-columns__stacked-media-item
{
	position: relative;

	&:not(:last-child)
	{
		margin-bottom: 0.75rem;
	}

	img,
	video
	{
		display: block;
		max-width: 100%;
	}
}

.module-columns__video,
.module-columns__image
{
	display: block;
	max-width: 100%;
}
