.module-collection__intro
{
	margin-bottom: 3rem;
	display: flex;

	@include tablet-portrait-min
	{
		align-items: center;
		justify-content: space-between;
	}

	@include tablet-portrait
	{
		flex-flow: column-reverse nowrap;
		margin-bottom: 5rem;
	}
}

.module-collection__intro-title
{
	@include tablet-portrait
	{
		margin-bottom: 1rem;
	}
}

.module-collection__awards
{
	@include tablet-portrait
	{
		padding-top: 2rem;
	}
}

.module-collection__awards-col
{
	position: relative;

	@include tablet-portrait-min
	{
		margin-top: 0.5rem;
		padding-top: 0.5rem;

		&::before
		{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 1px;
			background-color: var(--white-color);
		}

		&.module-collection__awards-col--title,
		&.module-collection__awards-col--year
		{
			&::before
			{
				right: calc(var(--col-padding) * -1);
			}
		}
	}
}

.module-collection__awards-col--year
{
	@include tablet-portrait
	{
		text-align: right;
	}
}

.module-collection__awards-col--award
{
	@include tablet-portrait
	{
		position: relative;
		padding-top: 0.5rem;

		&::before
		{
			content: '';
			position: absolute;
			top: -0.25rem;
			left: 0;
			right: 0;
			height: 1px;
			background-color: var(--white-color);
		}
	}
}

.module-collection__awards-col--body
{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;

	@include tablet-portrait
	{
		margin-top: -0.5rem;
	}
}

.module-collection__awards-link
{
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	display: inline-block;
	margin-top: 0.375rem;
	padding: 0.25rem;
	position: relative;

	&::before
	{
		content: '';
		position: absolute;
		width: 0.375rem;
		height: 0.375rem;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: var(--white-color);
		border-radius: 50%;
		margin: auto;
	}
}
