.module-news-listing__refine
{
	text-align: right;
	margin-bottom: 0.75rem;
}

.module-news-listing__refine-icon
{
	display: inline-block;
	width: 0.625rem;
	height: 0.625rem;
	stroke: var(--white-color);
	margin-right: 0.5rem;
	transform: rotate(0.125turn);
	@include transition(transform, 400ms);

	.module-news-listing__refine-toggle--active &
	{
		transform: rotate(0);
	}
}

.module-news-listing__cats-wrap
{
	@include tablet-portrait
	{
		height: 0;
		opacity: 0;
		overflow: hidden;
	}
}

.module-news-listing__cats
{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-flow: row wrap;
	padding-bottom: 0.75rem;

	@include tablet-portrait
	{
		padding-bottom: 0.5rem;
	}
}

.module-news-listing__cats-item
{
	&:not(:first-child)
	{
		margin-left: 0.875rem;

		@include tablet-portrait
		{
			margin-left: 0.5rem;
		}
	}

	@include tablet-portrait
	{
		margin-bottom: 0.5rem;
	}
}

.module-news-listing__cats-link
{
	position: relative;
	display: inline-block;

	@include tablet-portrait-min
	{
		padding-left: 0.875rem;

		&::before
		{
			content: '';
			position: absolute;
			width: 0.4375rem;
			height: 0.4375rem;
			border: 1px solid var(--white-color);
			border-radius: 50%;
			@include transition(background-color, 400ms);
			left: 0;
			top: 0.2rem;
		}

		&.module-news-listing__cats-link--active
		{
			&::before
			{
				background-color: var(--white-color);
			}
		}

		@media (pointer: fine)
		{
			&:hover::before
			{
				background-color: var(--white-color);
			}
		}
	}

	@include tablet-portrait
	{
		border: 1px solid var(--white-color);
		border-radius: 0.25rem;
		padding: 0.125rem 0.375rem;
		@include transition(all, 400ms);

		&.module-news-listing__cats-link--active
		{
			background-color: var(--white-color);
			color: var(--black-color);
		}

		@media (pointer: fine)
		{
			&:hover
			{
				background-color: var(--white-color);
				color: var(--black-color);
			}
		}
	}
}

.module-news-listing__display
{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 1rem;
}

.module-news-listing__display-item
{
	&:not(:first-child)
	{
		margin-left: 0.5em;
	}
}

.module-news-listing__display-item-btn
{
	@media (pointer: fine)
	{
		&:hover .module-news-listing__display-item-icon
		{
			fill: var(--white-color);
		}
	}
}

.module-news-listing__display-item-icon
{
	stroke: var(--white-color);
	@include transition(all, 400ms);
	width: 1.4365rem;
	height: auto;
	display: block;

	.module-news-listing__display-item-btn--active &
	{
		fill: var(--white-color);
	}
}

.module-news-listing__image-wrap
{
	position: relative;
	display: block;
	margin-bottom: 0.75rem;

	&::before
	{
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: 1;
		left: 0;
		right: 0;
		background-color: var(--overlay-black-color);
		@include transition(opacity, 400ms);
		opacity: 0;
	}

	@media (pointer: fine)
	{
		&:hover
		{
			&::before
			{
				opacity: 1;
			}
		}
	}
}

.module-news-listing__title
{
	display: inline;

	@media (pointer: fine)
	{
		.module-news-listing__link:hover &
		{
			background-size: 100% 1px;
		}

		.type-underline--reverse &
		{
			background-position: 0 100% !important;
		}
	}
}

.module-news-listing__rm,
.module-news-listing__excerpt
{
	margin-top: 0.75rem;
}

.module-news-listing__list--stacked
{
	.module-news-listing__item
	{
		position: relative;
		z-index: 4;
		background-color: var(--black-color);
	}

	.module-news-listing__col--1
	{
		border-right: 1px solid var(--white-color);
		padding-bottom: 3rem;

		@include tablet-portrait
		{
			border-right: none;
			padding-bottom: 0;
			border-top: 1px solid var(--white-color);
		}
	}

	.module-news-listing__date
	{
		position: sticky;
		top: 8rem;
		display: inline-block;

		@include tablet-portrait
		{
			position: static;
		}
	}

	.module-news-listing__col--2
	{
		padding-bottom: 3rem;

		@include tablet-portrait
		{
			.module-news-listing__item:last-child &
			{
				padding-bottom: 0;
			}
		}
	}

	.module-news-listing__image
	{
		margin-bottom: 1rem;
	}

	@include tablet-portrait
	{
		display: block !important;
		opacity: 1 !important;
	}
}

.module-news-listing__list--masonry
{
	.module-news-listing__item
	{
		&:not(:first-child)
		{
			border-top: 1px solid var(--white-color);
		}

		&:not(:last-child)
		{
			margin-bottom: 3rem;
		}
	}

	.module-news-listing__date
	{
		display: inline-block;
		margin-bottom: 0.75rem;
	}

	@include tablet-portrait
	{
		display: none !important;
		opacity: 0 !important;
	}
}

.module-news-listing__more-wrap
{
	position: relative;

	&::after
	{
		content: '';
		position: absolute;
		bottom: -0.75rem;
		width: 0.75rem;
		height: 0.75rem;
		border-radius: 50%;
		@include transition(all, 400ms);
		opacity: 0;
		left: 0;
		pointer-events: none;
		border: 1px solid var(--grey-color);
		border-left: 1px solid var(--white-color);
		animation: spinner 750ms cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite forwards;

		@include tablet-portrait-min
		{
			left: calc(var(--col-padding) * -1);
		}
	}

	&.module-news-listing__more-wrap--loading
	{
		&::after
		{
			opacity: 1;
		}

		.module-news-listing__more-link
		{
			color: var(--grey-color);
			pointer-events: none;
		}
	}

	@keyframes spinner
	{
		0%
		{
			transform: translateY(0.5rem) rotate(0deg);
		}

		100%
		{
			transform: translateY(0.5rem) rotate(360deg);
		}
	}
}

.module-news-listing__more--stacked
{
	.module-news-listing__more-link
	{
		@include tablet-portrait-min
		{
			margin: 0.5rem 0 0 calc(var(--col-padding) * -1);
			display: inline-block;
		}
	}
}

.module-news-listing__more--masonry
{
	.module-news-listing__more-wrap
	{
		@include tablet-portrait-min
		{
			text-align: center;
			margin-top: 3rem;
			grid-column: 1 / 12;

			&::after
			{
				left: 0;
				right: 0;
				margin: 0 auto;
			}
		}
	}
}
