.module-full_screen_media
{
	height: 100vh;
	position: relative;
	overflow: hidden;
	@include transition(height, 400ms);
}

.module-full_screen_media__media--image
{
	position: fixed;
	object-fit: cover;
	object-position: center center;
	height: 100vh;
	width: 100vw;
	z-index: 2;
}

.module-full_screen_media__media--video
{
	position: fixed;
	z-index: 2;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	transform: translateX(-50%) translateY(-50%);
}

.module-full_screen_media__scroll-wrap
{
	position: absolute;
	z-index: 4;
	bottom: var(--header-gap);

	@include tablet-portrait
	{
		text-align: center;
		bottom: 8rem;
	}
}

.module-full_screen_media__scroll-svg
{
	stroke: var(--white-color);
	stroke-width: 1px;
	display: block;
	width: 1.75rem;
	height: auto;
	transform: rotate(0.25turn);
	animation: scroll-down 1.5s cubic-bezier(0.85, 0, 0.15, 1) infinite alternate forwards;

	@include tablet-portrait
	{
		width: 1.25rem;
		margin: 0 auto;
	}
}

@keyframes scroll-down
{
	0%
	{
		transform: translateY(0) rotate(0.25turn);
	}

	100%
	{
		transform: translateY(0.5rem) rotate(0.25turn);
	}
}

.module-full_screen_media__grad
{
	position: absolute;
	left: 0;
	right: 0;
	height: 16vh;
	bottom: -16vh;
	background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
	z-index: 12;
}
