.module
{
	background-color: var(--black-color);
	position: relative;
	z-index: 8;
}

.module-padded-top--single
{
	padding-top: 12vmin;
}

.module-padded-top--double
{
	padding-top: 20vmin;
}

.module-padded-btm--single
{
	padding-bottom: 10vmin;
}

.module-padded-btm--double
{
	padding-bottom: 18vmin;
}

.module-pb-first
{
	padding-top: 10vmin;

	@include tablet-portrait
	{
		padding-top: 18vmin;
	}
}
