.module-collections .row
{
	position: relative;
}

.module-collections__collection
{
	display: flex;
	flex-flow: row-reverse wrap;
	align-items: flex-start;
	justify-content: space-between;
}

.module-collections__collection-slider
{
	margin-bottom: 0.75rem;
	width: 100%;

	@include tablet-portrait-min
	{
		&.slider
		{
			width: calc(100% + var(--row-padding));
			margin-right: calc(-1 * var(--row-padding));
		}
	}

	.owl-stage
	{
		display: flex;
	}

	.owl-item
	{
		width: max-content !important;
	}
}

.module-collections__collection-slider-image
{
	padding-right: var(--col-padding);
	display: inline-block;

	img
	{
		height: 70vh;
		width: auto !important;
		max-width: none;
	}
}

.module-collections__collection-slider--no-slider
{
	@include tablet-portrait
	{
		.module-collections__collection-slider-image
		{
			padding-right: 0;

			img
			{
				width: 100%;
				max-width: 100%;
				height: auto;
			}
		}
	}
}

.module-collections__collection-nav-over-btn
{
	height: 70vh;
	top: 0;
	left: 0;
	z-index: 4;
	width: 15vw;
	position: absolute;
}

.module-collections__collection-nav-over-btn--next
{
	left: auto;
	right: 0;
}

.module-collections__collection-nav-btn
{
	&:last-child
	{
		margin-left: 0.5rem;
	}
}

.module-collections__collection-nav-btn-icon
{
	stroke: var(--white-color);
	stroke-width: 1px;
	display: block;
	width: 1.75rem;
	height: auto;

	@include tablet-portrait
	{
		width: 1.25rem;
	}
}

.module-collections__collection-text
{
	margin-right: auto;
}
