.module-people_list__btn
{
	position: relative;
	text-align: left;
	display: block;
	width: 100%;
	margin-bottom: 2rem;

	@media (pointer: fine)
	{
		&:hover
		{
			.module-people_list__image::before
			{
				opacity: 1;
			}
		}
	}
}

.module-people_list__image
{
	margin-bottom: 0.75rem;
	position: relative;

	&::before
	{
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: 1;
		left: 0;
		right: 0;
		background-color: var(--overlay-black-color);
		@include transition(opacity, 400ms);
		opacity: 0;
	}
}

.module-people_list__overlay
{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	@include transition(all, 400ms);
	opacity: 0;
	visibility: hidden;
	z-index: 22;
	overflow: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	display: flex;
	align-items: center;

	&.module-people_list__overlay--open
	{
		opacity: 1;
		visibility: visible;
	}
}

.module-people_list__overlay-bg
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	display: block;

	@include tablet-portrait
	{
		display: none;
	}
}

.module-people_list__overlay-wrap
{
	position: relative;
	z-index: 4;
	margin: auto;
	padding: var(--header-gap) var(--row-padding);

	@include tablet-portrait
	{
		padding: calc(var(--header-gap) * 2) var(--row-padding);
	}
}

.module-people_list__overlay-col
{
	position: relative;
}

.module-people_list__overlay-close
{
	padding: 0.5rem;
	position: absolute;
	top: -1.75rem;
	right: -0.5rem;
}

.module-people_list__overlay-close-icon
{
	stroke: var(--white-color);
	width: 0.5625rem;
	height: 0.5625rem;
	display: block;
}

.module-people_list__overlay-image
{
	margin-bottom: 0.75rem;
}

.module-people_list__overlay-bio
{
	margin-top: 0.75rem;

	@include tablet-portrait-min
	{
		padding-right: 20%;
	}
}
