.module-news
{
	overflow: hidden;
}

.module-news__row
{
	position: relative;
}

.module-news__item
{
	position: relative;

	@include tablet-portrait-min
	{
		margin-bottom: 1.75rem;
	}

	@include tablet-portrait
	{
		padding-right: var(--col-padding);
	}

	&::before
	{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 1px;
		background-color: var(--white-color);

		@include tablet-portrait
		{
			top: -0.25rem;
			right: var(--col-padding);
		}
	}
}

.module-news__item-link
{
	display: block;
}

.module-news__item-cats
{
	display: block;
	margin: 0.25rem 0 1rem;

	@include tablet-portrait
	{
		margin-bottom: 2rem;
	}

	&::before
	{
		content: '';
		width: 0.5rem;
		height: 0.5rem;
		background-color: var(--white-color);
		border-radius: 50%;
		margin: -0.125rem 0.125rem 0 0;
		display: inline-block;
		vertical-align: middle;
	}
}

.module-news__item-image-wrap
{
	position: relative;
	margin-bottom: 1rem;

	&::before
	{
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: 1;
		left: 0;
		right: 0;
		background-color: var(--overlay-black-color);
		@include transition(opacity, 400ms);
		opacity: 0;

		@media (pointer: fine)
		{
			.module-news__item-link:hover &
			{
				opacity: 1;
			}
		}
	}
}

.module-news__item-image
{
	padding-bottom: 75%;

	@include tablet-portrait
	{
		padding-bottom: 125%;
		margin-bottom: 1rem;
	}
}

.module-news__item-title
{
	display: inline;

	@media (pointer: fine)
	{
		.module-news__item-link:hover &
		{
			background-size: 100% 2px;

			@include tablet-portrait
			{
				background-size: 100% 1px;
			}
		}

		.type-underline--reverse &
		{
			background-position: 0 100% !important;
		}
	}
}

.module-news__item-excerpt
{
	margin-top: 1.5rem;
}

.module-news__item-title,
.module-news__item-excerpt
{
	@include tablet-portrait
	{
		@include transition(opacity, 400ms);
		opacity: 0;

		.owl-item.active &
		{
			opacity: 1;
		}
	}
}

.module-news__slider
{
	margin-bottom: 1.5rem;

	.owl-stage-outer
	{
		overflow: visible;
	}

	.owl-item
	{
		width: 100%;
	}

	@include tablet-portrait
	{
		width: calc(100% - var(--col-padding));
		margin-bottom: 1rem;
	}
}

.module-news__mob-next-btn
{
	position: absolute;
	z-index: 2;
	padding: 0.5rem;
	top: 0.5rem;
	right: calc(var(--row-padding) + var(--col-padding) + 0.5rem);
}
