.module-full_width_slider__images
{
	width: 100vw;
	left: calc(var(--row-padding) * -1);
	position: relative;
}

.module-full_width_slider__nav
{
	text-align: right;
	padding-top: 0.75rem;
}

.module-full_width_slider__nav-btn
{
	&:last-child
	{
		margin-left: 0.5rem;
	}
}

.module-full_width_slider__nav-btn-icon
{
	stroke: var(--white-color);
	stroke-width: 1px;
	display: block;
	width: 1.75rem;
	height: auto;

	@include tablet-portrait
	{
		width: 1.25rem;
	}
}
