.module-slider
{
	overflow: hidden;

	@include tablet-portrait-min
	{
		padding: 0;
	}
}

.module-slider__row
{
	@include tablet-portrait
	{
		position: relative;
		display: flex;
		flex-flow: column nowrap;
		grid-gap: calc(var(--col-padding) * 2);
	}
}

.module-slider__nav
{
	z-index: 2;

	@include tablet-portrait-min
	{
		width: calc(10vw - (var(--row-padding) / 2));
		display: flex;
		align-items: flex-end;
		position: absolute;
		height: 85vh;

		&::before
		{
			content: '';
			position: absolute;
			z-index: 2;
			top: 0;
			height: 100vh;
			right: 3rem;
			width: 100vw;
			background-color: var(--black-color);
		}
	}

	@include tablet-portrait
	{
		position: absolute;
		bottom: 0;
		right: var(--col-padding);
	}
}

.module-slider__next-btn
{
	padding: 0.5rem;
	position: relative;
	left: -0.5rem;
	bottom: -0.5rem;
	z-index: 3;

	@include tablet-portrait
	{
		right: 0.5rem;
		left: auto;
	}
}

.module-slider__next-btn-svg
{
	stroke: var(--white-color);
	stroke-width: 1px;
	display: block;
	width: 1.75rem;
	height: auto;

	@include tablet-portrait
	{
		width: 1.25rem;
	}
}

.module-slider__link-wrap
{
	position: absolute;
	bottom: 5vh;
	left: calc(10vw - (var(--row-padding) / 2));

	@include tablet-portrait
	{
		position: static;
		margin-bottom: 2rem;
	}
}

.module-slider__slider-wrap
{
	position: relative;

	@include tablet-portrait-min
	{
		padding: 15vh 0;
	}

	@include tablet-portrait
	{
		order: 2;
	}
}

.module-slider__slider
{
	display: flex;

	@include tablet-portrait-min
	{
		padding-left: calc(10vw - (var(--row-padding) / 2));
		padding-right: calc(15vw - (var(--row-padding) / 4));
	}

	@include tablet-portrait
	{
		width: calc(100% - var(--col-padding));
	}

	.owl-stage-outer
	{
		overflow: visible;
	}
}

.module-slider__slide-wrap
{
	@include tablet-portrait-min
	{
		width: calc(80vw - var(--row-padding) - var(--row-padding));
	}

	&:not(:last-child)
	{
		margin-right: 5vw;
	}
}

.module-slider__slide
{
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 0.5rem;

	@include tablet-portrait
	{
		display: flex;
		flex-flow: column nowrap;
		padding-right: var(--col-padding);
	}
}

.module-slider__image-link
{
	grid-column: 2 / 3;

	.module-slider__slide--no-caption &
	{
		grid-column: 1 / 3;
	}

	@include tablet-portrait
	{
		order: 2;
	}
}

.module-slider__image,
.module-slider__video-wrap
{
	padding-bottom: 70vh;
	grid-column: 2 / 3;

	.module-slider__slide--no-caption &
	{
		grid-column: 1 / 3;
	}

	@include tablet-portrait
	{
		padding-bottom: 125%;
		order: 2;
	}
}

.module-slider__caption
{
	@include tablet-portrait-min
	{
		transform-origin: center center;
		writing-mode: vertical-rl;
		transform: rotate(0.5turn);
	}

	@include tablet-portrait
	{
		order: 3;
		@include transition(opacity, 400ms);
		opacity: 0;
		margin-top: 1rem;
		padding-right: 2rem;

		.owl-item.active &
		{
			opacity: 1;
		}
	}
}
