.module-single-nav__row
{
	position: relative;
	padding-top: 1.5rem;

	&::before
	{
		content: '';
		position: absolute;
		left: var(--row-padding);
		right: var(--row-padding);
		top: 0;
		height: 1px;
		background-color: var(--white-color);
	}
}

.module-single-nav__col
{
	display: flex;
	flex-flow: column nowrap;

	@include tablet-portrait
	{
		flex-direction: column-reverse;
	}
}

.module-single-nav__col--next
{
	align-items: flex-end;
	text-align: right;
}

.module-single-nav__image-link
{
	display: block;
	width: 100%;
	position: relative;

	&::before
	{
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: 1;
		left: 0;
		right: 0;
		background-color: var(--overlay-black-color);
		@include transition(opacity, 400ms);
		opacity: 0;
	}

	@media (pointer: fine)
	{
		&:hover
		{
			&::before
			{
				opacity: 1;
			}
		}
	}
}

.module-single-nav__title
{
	@include tablet-portrait-min
	{
		transform: rotate(-0.25turn) translateY(-0.5rem);
		position: absolute;
		left: 0;
		bottom: 0;
		transform-origin: bottom left;
		pointer-events: none;

		.module-single-nav__col--next &
		{
			left: auto;
			right: 0;
			transform: rotate(-0.25turn) translateX(100%) translateY(calc(100% + 0.5rem));
			transform-origin: bottom right;
		}
	}

	@include tablet-portrait
	{
		margin-top: 0.75rem;
	}
}

.module-single-nav__icon
{
	display: inline-block;
	margin-top: 0.75rem;

	@include tablet-portrait
	{
		margin-bottom: 0.75rem;
		margin-top: 0;
	}
}

.module-single-nav__icon-svg
{
	stroke: var(--white-color);
	stroke-width: 1px;
	display: block;
	width: 1.75rem;
	height: auto;

	@include tablet-portrait
	{
		width: 1.25rem;
	}
}
