.module-award_list__item
{
	@include tablet-portrait-min
	{
		padding-top: 0.5rem;
	}
}

.module-award_list__item-details
{
	@include tablet-portrait-min
	{
		position: relative;

		&::before
		{
			content: '';
			position: absolute;
			left: 0;
			right: calc(var(--col-padding) * -1);
			top: -0.5rem;
			height: 1px;
			background-color: var(--white-color);
		}
	}

	@include tablet-portrait
	{
		display: flex;
		flex-flow: column-reverse nowrap;
		padding-bottom: 1rem;
	}
}

.module-award_list__item-image-link
{
	display: block;
	width: 100%;
	position: relative;
	margin-top: 1rem;

	@include tablet-portrait
	{
		margin: 0 0 1rem;
	}

	&::before
	{
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: 1;
		left: 0;
		right: 0;
		background-color: var(--overlay-black-color);
		@include transition(opacity, 400ms);
		opacity: 0;
	}

	@media (pointer: fine)
	{
		&:hover
		{
			&::before
			{
				opacity: 1;
			}
		}
	}
}

.module-award_list__item-awards
{
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-gap: var(--col-padding);
	align-content: flex-start;

	@include tablet-portrait
	{
		grid-template-columns: repeat(4, 1fr);
	}
}

.module-award_list__item-awards-col
{
	position: relative;

	&::before
	{
		content: '';
		position: absolute;
		top: -0.5rem;
		left: 0;
		right: 0;
		height: 1px;
		background-color: var(--white-color);
	}
}

.module-award_list__item-awards-col--year
{
	&::before
	{
		right: calc(var(--col-padding) * -1);
	}

	@include tablet-portrait
	{
		&::before
		{
			content: none;
		}
	}
}

.module-award_list__item-awards-col--body
{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;

	@include tablet-portrait
	{
		margin-top: -0.75rem;
		padding-bottom: 0.75rem;

		&::before
		{
			content: none;
		}
	}
}

.module-award_list__item-awards-link
{
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.module-award_list__item-awards-link-icon
{
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	display: inline-block;
	margin-top: 0.375rem;
	padding: 0.25rem;
	position: relative;

	&::before
	{
		content: '';
		position: absolute;
		width: 0.375rem;
		height: 0.375rem;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: var(--white-color);
		border-radius: 50%;
		margin: auto;
	}
}
