.module-form__col
{
	border-top: 1px solid var(--white-color);
	padding-top: 1rem;
	position: relative;

	.gform_title,
	input,
	textarea
	{
		@extend .type-h2;
	}

	input,
	textarea
	{
		color: var(--grey-color);
	}
}
